# SMTP (usato per inviare email di verifica)
SMTP_HOST=smtpADGADGADG.gGADGADGADGFmail.com
SMTP_PORT=587
SMTP_USER=alfamatagAto@googlemADGADGADGail.com
SMTP_PASS=kdbiwgoafagagadgagadgadgamirzgfpqq
SMTP_FROM="Antispreco <alfamatto@googlemail.com>"

# URL frontend (link di verifica)
FRONTEND_URL=http://localhost:5173

# Secret per JWT
JWT_SECRET=your_jwt_secret_here