# SMTP (usato per inviare email di verifica)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=leone.homeclub@gmail.com
SMTP_PASS=kdbiwgomirzgfpqq
SMTP_FROM="Antispreco <alfamatto@googlemail.com>"

# URL frontend (link di verifica)
FRONTEND_URL=http://localhost:5173

# Secret per JWT
JWT_SECRET=KJH87sd8f7sdf8sdf7sdf8sdf8sdf8sdf8

